<%= simple_form_for(@rating) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :parking %>
    <%= f.input :idrating %>

    <%= f.input :active,  as: :boolean, checked_value: true, unchecked_value: false %>
    <%= f.input :comment,  as: :text %>

  </div>
  <label>Puntuación</label>
   <div class="ec-stars-wrapper">
  <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
  <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
  <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
  <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
  <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
</div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
